DLTE-Project/soapwebservice/src/main/resources/loans.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://loansavail.services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://loans.services" targetNamespace="http://loans.services">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
            <xsd:import namespace="http://loans.services" schemaLocation="loan.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewAllAvailableLoanRequest">
        <wsdl:part xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" element="sch:viewAllAvailableLoanRequest" name="viewAllAvailableLoanRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewByLoanTypeRequest">
        <wsdl:part xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" element="sch:viewByLoanTypeRequest" name="viewByLoanTypeRequest"> </wsdl:part>
    </wsdl:message>
    <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewAllAvailableLoanResponse">
        <wsdl:part xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" element="sch:viewAllAvailableLoanResponse" name="viewAllAvailableLoanResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:message xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewByLoanTypeResponse">
        <wsdl:part xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" element="sch:viewByLoanTypeResponse" name="viewByLoanTypeResponse"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="LoansPort">
        <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewAllAvailableLoan">
            <wsdl:input xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" message="tns:viewAllAvailableLoanRequest" name="viewAllAvailableLoanRequest"> </wsdl:input>
            <wsdl:output xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" message="tns:viewAllAvailableLoanResponse" name="viewAllAvailableLoanResponse"> </wsdl:output>
        </wsdl:operation>
        <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewByLoanType">
            <wsdl:input xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" message="tns:viewByLoanTypeRequest" name="viewByLoanTypeRequest"> </wsdl:input>
            <wsdl:output xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" message="tns:viewByLoanTypeResponse" name="viewByLoanTypeResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="LoansPortSoap11" type="tns:LoansPort">
        <soap:binding xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewAllAvailableLoan">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
            <wsdl:input xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewAllAvailableLoanRequest">
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewAllAvailableLoanResponse">
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewByLoanType">
            <soap:operation xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" soapAction=""/>
            <wsdl:input xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewByLoanTypeRequest">
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:input>
            <wsdl:output xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="viewByLoanTypeResponse">
                <soap:body xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="LoansPortService">
        <wsdl:port xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" binding="tns:LoansPortSoap11" name="LoansPortSoap11">
            <soap:address xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" location="http://localhost:7001/webservice-0.0.1-SNAPSHOT/loansrepo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>